{:aliases {:format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.4"}},
                    :main-opts ["-m" "cljfmt.main" "fix" "src" "test" "dev" "deps.edn"]},
           :jar {:exec-args {:aot false,
                             :artifact-id "functional-news",
                             :group-id "codes.stel",
                             :jar "codes.stel.functional-news.jar",
                             :jar-type :uber,
                             :main-class codes.stel.functional-news,
                             :version "0.1.0"},
                 :exec-fn hf.depstar/jar,
                 :extra-deps {seancorfield/depstar {:mvn/version "2.0.216"}}},
           :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.2"}, nrepl/nrepl {:mvn/version "0.8.3"}},
                  :extra-paths ["dev"],
                  :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]" "--interactive"]},
           :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner",
                                                            :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}},
                    :main-opts ["-m" "cognitect.test-runner" "-d" "test"]},
           :scss {:extra-deps {deraen/sass4clj {:mvn/version "0.5.1"}},
                  :main-opts ["-m" "sass4clj.main" "--auto" "--target-path" "resources/public" "--source-paths"
                              "resources/scss"]},
           :test {:extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}, :extra-paths ["test"]}},
 :deps {com.cemerick/url {:mvn/version "0.1.1"},
        com.taoensso/timbre {:mvn/version "5.1.2"},
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"},
        http-kit/http-kit {:mvn/version "2.5.3"},
        metosin/reitit {:mvn/version "0.5.13"},
        metosin/reitit-malli {:mvn/version "0.5.13"},
        org.clojure/clojure {:mvn/version "1.10.1"},
        org.postgresql/postgresql {:mvn/version "42.2.17.jre7"},
        ring/ring {:mvn/version "1.9.3"},
        seancorfield/next.jdbc {:mvn/version "1.1.588"}},
 :paths ["src" "resources"]}
